
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  max-width: 1810px;
  margin: 0 auto;
}

//Colours
$accentColor: #ffb500;
$lightGrey: #515353;
$mediumGrey: #494a4a;
$darkGrey: #262626;
$accentBackground: #f6f6f6;
$accentBlue: #009ac8;
$lightBlue: #38add4;

.col-15 {
  @media (min-width: 1020px) {
    width: 15%
  }
}
.col-20 {
  @media (min-width: 1020px) {
    width: 20%;
  }
}

.col-one-quarter {
  @media (min-width: 1020px) {
    width: 25%;
  }
}



