
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  max-width: 1290px;
  margin: 0 auto;
}

//Colours
$accentColor: #ffb500;
$lightGrey: #515353;
$mediumGrey: #494a4a;
$darkGrey: #262626;
$accentBackground: #f6f6f6;
$accentBlue: #009ac8;
$lightBlue: #38add4;

.col-one-sixth {
  @media (min-width: 1020px) {
    width: calc(50% / 3);
  }
}




