.header {
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-image: url(../../public/images/header-top.jpg);
  }  
  &__main-heading {
    @media (min-width: 1020px) {
      position: absolute;
      z-index: 20;      
      top: 400px;
      left: 150px;
      color: black;
    }
    &__header1 {
      font-size: 3rem;
      margin: 0;
      color: black;
      text-align: center;
      @media (min-width: 1020px) {
        text-shadow: 5px 10px 21px rgba(7, 72, 145, 0.91);
        text-align: right;
        color: white;
        font-size: 5rem;
      }
      @media (min-width: 1240px) {
        font-size: 6.8rem;           
      }
    }
    &__header2 {
      font-weight: 300;
      color: white;
      text-shadow: 5px 10px 21px rgba(7, 72, 145, 0.91);
      margin: 0;
      font-size: 2.4rem;
      color: black;
      text-align: center;
      padding-bottom: 10px;
      @media (min-width: 1020px) {
        font-size: 3.5rem;     
        color: white   
      }
      @media (min-width: 1240px) {
        font-size: 5.5rem;
      }
      span {
        @media (min-width: 1020px) {
          text-align: right;
          display: block;
          padding-right: 275px;
          
        }
      }
    }
  }
}

.header nav img {
  margin: 0;
  display: inline;
}