// sections:
  // products
  // custom
  // industries

.products {
  background: $accentBackground;
  &__header {
    color: $darkGrey;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 65px 0 35px;
  }
  &__paragraph {
    text-transform: uppercase;
    text-align: center;
    color: $mediumGrey;
    margin: 0;
    font-weight: 300;
    padding-bottom: 60px;
  }
  &__gallery {
    padding: 0 5px;
    &__item {
      padding-bottom: 55px;
      &__image-container {
        max-width: 370px;
        margin: 0 auto;
        background: white;
      }
      &__text-container {
        color: $lightGrey;
        &__header {
          font-size: 2.4rem;
          font-weight: 500;
        }
        &__paragraph {
          font-size: 1.9rem;
          font-weight: 300;
        }
      }

    }
  }
}

.custom {
  background: $accentBlue;
  color: white;
  text-align: center;
  padding: 65px 0 85px;
  &__header {
    font-size: 2.8rem;
    font-weight: 900;
    text-shadow: 5px 10px 21px rgba(7, 72, 145, 0.24);
    margin: 0;
    @media (min-width: 640px) {
      font-size: 4.8rem;
    }
  }
  &__paragraph {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    margin: 45px auto;
    padding-bottom: 60px;
    max-width: 1255px;    
    @media (min-width: 1040px) {
      font-size: 2.4rem;
    }
  }
  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 2.1rem;
    font-weight: 400;
    padding: 25px 50px;
    border: 1px solid white;
    transition: all 0.3s;
    &:hover {
      background: $accentColor;
      border: 1px solid $accentColor;
    }
  }
}

.industries {
  padding: 75px 0;
  background: $accentBackground;
  &__header {
    color: $darkGrey;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    margin: 0;
  }
  &__paragraph {
    text-align: center;
    color: $darkGrey;
    font-size: 1.9rem;
    font-weight: 300;
    margin-bottom: 55px;
  }
  &__gallery {
    padding: 0 5px;
    &__item {
      max-width: 223px;
      margin: 0 auto;
      padding-bottom: 35px;
      &__text-container {
        &__paragraph {
          color: $lightGrey;
          font-weight: 500;
          font-size: 1.8rem;
        }
      }
    }
  }
}